/Src_DeepCopy/ConsoleApp1/ConsoleApp1/bin
/Src_DeepCopy/ConsoleApp1/ConsoleApp1/obj
/Src_DeepCopy/ConsoleApp1/TestResults
/Src_DeepCopy/ConsoleApp1/ConsoleApp1Tests/bin
/Src_DeepCopy/ConsoleApp1/ConsoleApp1Tests/obj
/Src_DeepCopy/ConsoleApp1/.vs
